<!DOCTYPE html>
<html>
    <head>
        <title>Products</title>
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-3">
                   <div class="card-container">
                    <div class="card shadow text-center">
                        <div class="card_front">
                        <img class="img-fluid h-100 w-100" src="./assets/products/person.jpg" alt="dehumid_dryer">
                        </div>
                        <div class="card-back">
                            <div class="prod_desc">
                                <h5 class="card-title">Startup Business</h5>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, vix ex suas illud postulant. 
                                    Sed cu harum zril, et vim labores probatus recteque. 
                                    Eum ne homero quidam. Ea brute aeterno invenire nam
                                </p>
                            </div>
                            <button class="btn btn-primary">Click Here</button>
                        </div>
                    </div>
                </div>
                
                </div>
                <div class="col-12 col-md-3">
                    <div class="card-container">
                    <div class="card shadow text-center">
                        <div class="card_front">
                        <img class="img-fluid h-100 w-100" src="./assets/products/dehumid_dryer.jpg" alt="dehumid_dryer">
                        </div>
                        <div class="card-back">
                            <div class="prod_desc">
                                <h5 class="card-title">Startup Business</h5>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, vix ex suas illud postulant. 
                                    Sed cu harum zril, et vim labores probatus recteque. 
                                    Eum ne homero quidam. Ea brute aeterno invenire nam
                                </p>
                            </div>
                            <button class="btn btn-primary">Click Here</button>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card-container">
                    <div class="card shadow text-center">
                        <div class="card_front">
                        <img class="img-fluid h-100 w-100" src="./assets/products/person.jpg" alt="dehumid_dryer">
                        </div>
                        <div class="card-back">
                            <div class="prod_desc">
                                <h5 class="card-title">Startup Business</h5>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, vix ex suas illud postulant. 
                                    Sed cu harum zril, et vim labores probatus recteque. 
                                    Eum ne homero quidam. Ea brute aeterno invenire nam
                                </p>
                            </div>
                            <button class="btn btn-primary">Click Here</button>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card-container">
                    <div class="card shadow text-center">
                        <div class="card_front">
                        <img class="img-fluid h-100 w-100" src="./assets/products/dehumid_dryer.jpg" alt="dehumid_dryer">
                        </div>
                        <div class="card-back">
                            <div class="prod_desc">
                                <h5 class="card-title">Startup Business</h5>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, vix ex suas illud postulant. 
                                    Sed cu harum zril, et vim labores probatus recteque. 
                                    Eum ne homero quidam. Ea brute aeterno invenire nam
                                </p>
                            </div>
                            <button class="btn btn-primary">Click Here</button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </body>
    
</html>