<body>
    <footer class="footer navbar-fixed-bottom">
        <div class="footer">
            <div class="container">
                <div class="row mx-auto">
                    <div class="col-md-3">
                        <h4>ABOUT US</h4>
                        <div class="description">
                            <h4>THE COOLING COMPANY</h4>
                            <div class="description-data">
                                At The Cooling Company , we search for simple, eloquent solutions to complex problems. We
                                minimize MEP costs by eliminating the extraneous and focusing on the overall
                                efficiency for the most streamlined designs.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4>ENQUIRE</h4>
                        <form [formGroup]="enquireForm" class="enquire-form">
                            <label>Your Name</label>
                            <input type="text">
                            <br>
                            <label>Your Email</label>
                            <input type="email">
                            <br>
                            <label>Your Phone</label>
                            <input type="number">
                            <br>
                            <label>Subject</label>
                            <input type="text">
                            <br>
                            <label>Message</label>
                            <input type="text">
                            <br>
                            <button type="submit" class="btn btn-enquire">Send</button>
                        </form>                     
                    </div>
                    <div class="col-md-3">
                        <h4>CONTACT US</h4>
                        <div class="description">
                            <p style="font-size:1em;">14, Sarthak Towers ,
                                Opposite Yashwantrao Chavan Natyagrah, Kothrud ,Pune 411038</p>
                            
                            <p>Tel : / 9145010803/
                                7820838344/</p>
                            
                            <p>E-mail : cooling.co.ind@gmail.com</p>
    
                            <div class="logos">
                                <span id="fb" class="fab fa-facebook"></span>
                                <span class="fab fa-linkedin "></span>
                                <span class="fab fa-twitter"></span>
                                <span class="fab fa-youtube "></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4>RECENT BLOGS</h4>
                        <div class="description">
                           <div class="blogs">
                               <div class="blog">
                                   <p class="blog-data">How Companies Can Save Money with Real MEP</p>
                                   <span class="fas fa-calendar-alt">  Sept 12, 2020</span>
                               </div>
                               <div class="blog">
                                <p class="blog-data">How Cold Rooms can save Electrical Consumption by these basic steps</p>
                                <span class="fas fa-calendar-alt">  Sept 15, 2020</span>
                                </div>
                           </div>
                           
                        </div>
                    </div>
                </div>
                <hr>
               
            </div>
            <div class="copyright">
                <p>&copy; 2020 The Cooling Company. All Right Reserved. Legal Notice | Trademarks</p>
            </div>
        </div>
    </footer>
    
    </body>