<head>
    <style>
        @media(max-width:576px) {
            .bh {
                height: auto;
                max-width: 75%;
            }

            .nav-background-color {
                background-color: white;
                color: black;
            }
        }

        ;

        .navbar {
            
            overflow: hidden;
        }

        section {
            margin-bottom: 100px;
        }
    </style>
</head>

<body>
    
    <section>
        <main>
            <nav class="navbar fixed-top navbar-expand-lg nav-back" id="mainNav">
                <div class="container-fluid">
                    <a class="navbar-brand js-scroll-trigger" routerLink=''><img id="logo-img" src="./assets/Alternate.png" class="img-fluid bh"
                            height="150px" width="200px"><p id="change-brand">THE COOLING COMPANY</p></a>
                    
                    <button class="navbar-toggler navbar-toggler-right " type="button" data-toggle="collapse"
                        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                        aria-label="Toggle Navigation"><span style="color:white" class="fa fa-bars"></span></button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav text-uppercase ml-auto  navbar-primary">
                            <li>
                                <a class="nav-link nav-scrolled dropdown" routerLink='/service' >Services</a>
                            </li>
                            <li>
                                <a class="nav-link nav-scrolled dropdown" routerLink='/products1' >Products</a>
                            </li>
                            <li>
                                <a class="nav-link nav-scrolled dropdown" routerLink='/blogs' >Blog</a>
                            </li>
                            <li>
                                <a class="nav-link nav-scrolled dropdown" routerLink='/contactus' >Contact Us</a>
                            </li>
                            <li>
                                <a class="nav-link nav-scrolled dropdown" routerLink='/about' >About</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
            
        </main>
    </section>
</body>