.body{
    margin-bottom:5%;
}
.nav-back{
    background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.2));
    /*background-color: rgb(28,35,49);*/
}
.tagline{
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: italic;

}
h1{
    color:#33e9ff;
}

.boundary
{
    width:100%;
    height:20px;
}
.scrolled{
    
    background-color:rgb(28,35,49);
    .nav-scrolled{
        color:white;
    }
    .nav-scrolled:hover{
        color:yellow;
    }
    .dropdown-item{
        color:black;
    }
}

.dropdown{
    color:white;
    font-weight: bold;
    font-size: 1em;
    &:hover{
        color:yellow;
        border-bottom:1px solid yellow
    }
    :active{
        color:yellow;
        border-bottom:1px solid yellow
    }
}

#change-brand{
    margin-bottom: 0;
    font-weight: bolder;
    font-size: larger;
    color:white;
    text-shadow:0 0 5px blue;
}