<body>
    <div class="display">
        <p class="title">About The Cooling Company</p>
        <hr>
        <p class="about_cont">
            Unique HVAC Solutions is Pune based reputed Heating, Ventilation and Air conditioning (HVAC) company
            established in 2011.
            We provide complete solutions starting from Designing, Consultation, Supply, Installation, Testing &
            Maintenance.
            We have set up HVAC installation for Corporate offices, Information Technology (IT) Park, Institution,
            Hospitals, Commercial buildings, Residential buildings, Multiplexes, Shopping malls, Telecommunication
            facilities and a host of others in various parts country.
            We believe in utmost customer satisfaction, competent performance and reliability, these qualities has
            gained us good reputation in the entire market.
            We believe that every aspect of work, be it sales, service, maintenance or consulting should culminate to
            service to the end user.
        </p>
        <div class="vision">
            <p class="head">Our Vision</p>
            <div class="flex-view">
            <div class="flex-item">
                <p>We want to be recognized as the most professional team of HVAC while providing reliable service and
                    installation. We also want to lead the way towards more efficient and effective methods and
                    procedures.</p>
            </div>
            <div class="flex-img">
                <img src="../../assets/vision.jpg" class="img-alt">
            </div>
            </div>
        </div>
        <div class="mission">
            <p class="head">Our Mission</p>
            <div class="flex-view">
                <div class="flex-img">
                    <img src="../../assets/mission.jpg" class="img-alt">
                </div>
                <div class="flex-item">
                    <p>We want to be recognized as the most professional team of HVAC while providing reliable service
                        and
                        installation. We also want to lead the way towards more efficient and effective methods and
                        procedures.</p>
                </div>
            </div>
        </div>
        <div class="director">
            <p class="head">Directors Message</p>
            <div class="flex-view">
            <div class="flex-item">
                <p>We wish all our customers, suppliers, business partners and staff good health while we look forward to another successful year together. It gives me immense pleasure to communicate with you, where we have collectively leveraged more than five years in HVAC services providing on time commissioning, and maintenance of HVAC services at the specified time frame.
                    Since our inception in 2011, we, at Unique HVAC Solutions, have been striving to improve our quality and services. In the same stride, we have optimized the service delivery time through our customer-friendly approach which has helped us in expanding our services to over 44+ customers in diversified industry as well as across India, we have continued to strive for customer satisfaction by ensuring one year hassle free support after commissioning of the project.</p>
            </div>
            <div class="flex-img">
                <img src="../../assets/user.jpg" class="img-alt">
            </div>
            </div>
        </div>
    </div>
</body>