<!DOCTYPE html>
<html>
    <head>
        <title>Products</title>
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-4">
                    <div class="card shadow text-center">
                        <div class="card_image">
                        <img class="card-img-top" src="./assets/products/dehumid_dryer.jpg" alt="dehumid_dryer">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Cold Rooms</h5>
                            <p class="card-text">
                                They vary from 10 MT to 100 MT. 
                                They dont need any special Structural arrangements. 
                                Useful for Cold Chain purposes, Trading and Farmers
                            </p>
                            <button class="btn btn-primary">Click Here</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card shadow text-center">
                        <div class="card_image">
                        <img class="card-img-top" src="./assets/products/dehumid_dryer.jpg" alt="dehumid_dryer">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Ripening Chambers</h5>
                            <p class="card-text">
                                Basically for ripening of Banana, Mangoes, Grapes, Peaches etc. 
                                Design made as per requirement and as per product. 
                                Purpose- Trading, Market Supply and Export.
                            </p>
                            <button class="btn btn-primary">Click Here</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card shadow text-center">
                        <div class="card_image">
                        <img class="card-img-top" src="./assets/products/dehydration-plants.png" alt="dehumid_dryer">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Refrigerated Vehicles</h5>
                            <p class="card-text">
                                Used for transporting and maintaining Prodcut at a particular temperature range.
                                Usefull for Big Cold Storages, Pharmacy, and Food Industry. 
                                
                            </p>
                            <button class="btn btn-primary">Click Here</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    
</html>


    <!--<svg id="demo" width="100" height="100" style="fill:rgb(238, 168, 37)">
        <circle cx="50" cy="50" r="40"  stroke="yellow" stroke-width="10"></circle>
    </svg>
    <svg height="150" width="500">
        <ellipse cx="240" cy="100" rx="220" ry="30" style="fill:purple" />
        <ellipse cx="220" cy="70" rx="190" ry="20" style="fill:lime" />
        <ellipse cx="210" cy="45" rx="170" ry="15" style="fill:yellow" />
    </svg>-->