.container{
    .card{
        width: 320px;
        .card-body{
            height: 250px;
        }
    }
    .card_image{
        overflow: hidden;
        img{
            transition: all 1.5s ease;
        }
        &:hover{
            img{
                transform: scale(1.5);
            }
        }
    }

}