<div class="container bg-dark p-0">
    <div class="row">
    
        <div class="col-12 col-sm-12 col-md-6 prod_image">
            <img src="./assets/products/dehumid_dryer.jpg" class="img-fluid w-100">
            <div class="get_quote">
            <button>Get Quotation</button>
            </div>
        </div>
    <div class="col-12 col-sm-12 col-md-6">
        <div class="products_desc">
        <h2>StartUp Business</h2>
        <p> Lorem ipsum dolor sit amet, vix ex suas illud postulant. 
            Sed cu harum zril, et vim labores probatus recteque. 
            Eum ne homero quidam. Ea brute aeterno invenire nam. Mel in augue doming maluisset.</p>
        <button class="btn btn-dark prod_btn">Click Here</button>
        </div>
    </div>
</div>
</div>
