<body>
<div id="serv-div" class="heading">
    <p class="our">Our Services</p>
    <hr>
</div>
<div class="services-div">
    <div class="bg-color">
        <div id="services">
            <img id="serv-img" src="../../assets/service-man.png" class="img-fluid" alt="man-img">
        </div>
        <ngx-slick-carousel class=" carousel flex-services" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem class="slide item">
                <span class="fas fa-lightbulb fa-5x"></span>
                <h3>Electrical</h3>
                <hr>
                <p>Today's buildings have more electrical components than ever. From low to high voltage
                    building
                    systems, normal and emergency power, we have your solution.</p>
            </div>
            <div ngxSlickItem class="slide item">
                <span class="fas fa-wrench fa-5x"></span>
                <h3>Plumbing</h3>
                <hr>
                <p>Today's buildings have more electrical components than ever. From low to high voltage
                    building
                    systems, normal and emergency power, we have your solution.</p>
            </div>
            <div ngxSlickItem class="slide item">
                <span class="fas fa-fire-extinguisher fa-5x"></span>
                <h3>Fire Protection</h3>
                <hr>
                <p>Today's buildings have more electrical components than ever. From low to high voltage
                    building
                    systems, normal and emergency power, we have your solution.</p>
            </div>
            <div ngxSlickItem class="slide item">
                <span class="fas fa-lightbulb fa-5x"></span>
                <h3>Electrical</h3>
                <hr>
                <p>Today's buildings have more electrical components than ever. From low to high voltage
                    building
                    systems, normal and emergency power, we have your solution.</p>
            </div>
            <div ngxSlickItem class="slide item">
                <span class="fas fa-wrench fa-5x"></span>
                <h3>Plumbing</h3>
                <hr>
                <p>Today's buildings have more electrical components than ever. From low to high voltage
                    building
                    systems, normal and emergency power, we have your solution.</p>
            </div>
            <div ngxSlickItem class="slide item">
                <span class="fas fa-fire-extinguisher fa-5x"></span>
                <h3>Fire Protection</h3>
                <hr>
                <p>Today's buildings have more electrical components than ever. From low to high voltage
                    building
                    systems, normal and emergency power, we have your solution.</p>
            </div>
            <div ngxSlickItem class="slide item">
                <span class="fas fa-lightbulb fa-5x"></span>
                <h3>Electrical</h3>
                <hr>
                <p>Today's buildings have more electrical components than ever. From low to high voltage
                    building
                    systems, normal and emergency power, we have your solution.</p>
            </div>
            <div ngxSlickItem class="slide item">
                <span class="fas fa-wrench fa-5x"></span>
                <h3>Plumbing</h3>
                <hr>
                <p>Today's buildings have more electrical components than ever. From low to high voltage
                    building
                    systems, normal and emergency power, we have your solution.</p>
            </div>
            <div ngxSlickItem class="slide item">
                <span class="fas fa-fire-extinguisher fa-5x"></span>
                <h3>Fire Protection</h3>
                <hr>
                <p>Today's buildings have more electrical components than ever. From low to high voltage
                    building
                    systems, normal and emergency power, we have your solution.</p>
            </div>

        </ngx-slick-carousel>
    </div>
</div>
</body>