<head>
    <style>
        @media(max-width:576px) {
            .blog-head #our_story {
                font-size: 24px;
            }

            .blog-head #sub_head {

                font-size: 18px;
            }

            .styleHead {
                font-size: 30px;
            }

            #blog video {
                padding-right: 0;
            }

            .one {
                width: 90vw;
            }

            .two {
                width: 90vw;
            }

            body {
                overflow: hidden;
            }
        }
    </style>
</head>
<!--
<body>
    <button class="floating-btn" id="fltn-btn" data-toggle="modal" data-target="#LoginModalCenter"><i
        class="fas fa-pen fa-2x"></i></button>
<section id="modal-dialoug">
    <div class="modal fade" id="LoginModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form-Login" [formGroup]="Login">
                        <input type="text" class="form-input" placeholder="Enter user Id" formControlName="user_id">
                        <br/>
                        <input type="password" class="form-input" placeholder="Enter Password" formControlName="password">
                        <br/>
                        <button type="button" class="btn btn-secondary btn-form" data-dismiss="modal">Close</button>
                        <button type="submit" (click)="LoginSubmit()" class="btn btn-primary btn-form" data-dismiss="modal">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
    <section id="modal-view">
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <p class="modal-head">{{modalData?.bloghead}}</p>

                    <img src="{{modalData?.media}}" class="img-fluid" alt="modal-img">

                    <div class="modal-content">
                        <p>{{modalData?.blogbody}}</p>
                    </div>
                    <div class="modal-activity">
                        <span class="far fa-thumbs-up fa-lg"></span>
                        <span class="far fa-paper-plane fa-lg"></span>
                    </div>
                    <div class="modal-author">
                        Kiran Sapali
                        CEO,The Cooling Company
                    </div>

                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid">
        <div class="blog-header">
            <div class="header-background">
                <div class="blog-head">
                    <p id="our_story"><span class="styleHead">O</span>ur <span class="styleHead">S</span>tories</p>
                    <p id="sub_head">Right From the Ceo's Desk</p>
                </div>
            </div>
        </div>
    </div>-->
<!--<section id="search" class="container">
    <form [formGroup]="" id="search-box">
        <input type="text" id="search-text" placeholder="  Search Blogs...">
        <span class="fas fa-search search-icon"></span>
    </form>
</section>
<div id="blog" class="container con-adj">
    <div class="row mx-auto">
        <div class="col-md-6" style="padding: 0;">
            <video src="../../assets/videos/Blog-vid.mp4" [muted]="true" controls autoplay playsinline loop></video>
        </div>
        <div class="col-md-6">
            <div class="blog-content">
                <div class="blog-data">
                    <p class="blog-heading">Blog head1</p>
                    <hr>
                    <div class="blog-body">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text ever since the 1500s, when an unknown
                            printer took a galley of type and scrambled it to make a type specimen book. It has
                            survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged. It was popularised in the 1960s with the release of
                            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                    <hr>
                    <div class="blog-author">
                        <div class="author-name">-Kiran Sapali</div>
                        <div class="position">CEO,The Cooling Company</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<!--
    <div class="container-fluid sub-blogs">
        <div class="row mx-auto">
            <div class="col-md-4" *ngFor='let blog of blogData | slice:0:3'>
                <div class="card">
                    <div class="img-contain"><img src='{{blog?.media}}' alt="blog image" class="img-fluid blog-img"></div>
                    <div style="font-size: 2em;text-align: center;">{{blog.bloghead}}</div>
                    <div class="blog-content">{{blog.blogbody}}</div>
                    <button type="button" class="btn btn-primary .btn-more" data-toggle="modal"
                        data-target=".bd-example-modal-lg" (click)="modalUpdate(blog)">Read More</button>
                    <hr>
                    <div class="blog-author">Kiran Sapali</div>
                    <p>CEO,The Cooling Company</p>
                </div>
            </div>
        </div>
    </div>

    <div class="alignment"><button id="view-blogs" class="btn btn-trig">View More</button></div>

    <section id="hidden-blogs">
        <div class="container-fluid sub-blogs">
            <div class="row mx-auto">
                <div class="col-md-4" *ngFor='let blog of blogData | slice:3:7'>
                    <div class="card">
                        <div class="img-contain"><img src='{{blog?.media}}' alt="blog image" class="img-fluid blog-img">
                        </div>
                        <div style="font-size: 2em;text-align: center;">{{blog?.bloghead}}</div>
                        <div class="blog-content">{{blog.blogbody}}</div>
                        <button type="button" class="btn btn-primary .btn-more" data-toggle="modal"
                            data-target=".bd-example-modal-lg" (click)="modalUpdate(blog)">Read More</button>
                        <hr>
                        <div class="blog-author">Kiran Sapali</div>
                        <p>CEO,The Cooling Company</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="alignment"><button id="close-blog" class="btn btn-trig">Close</button></div>

    <section id="social-media">
        <div class="container">
            <div class="row">

                <div class="facebook">
                    <span class="fab fa-facebook fa-7x social-icon"></span>
                    <button id="facebook" class="btn btn-decorate">Like Us</button>
                </div>


                <div class="twitter">
                    <span class="fab fa-twitter fa-7x social-icon"></span>
                    <button id="twitter" class="btn btn-decorate">Follow us</button>
                </div>


                <div class="instagram">
                    <div class="fab fa-instagram fa-7x social-icon"></div>
                    <button id="instagram" class="btn btn-decorate">Follow us</button>
                </div>


                <div class="linkedin">
                    <div class="fab fa-linkedin fa-7x social-icon"></div>
                    <button id="linkedin" class="btn btn-decorate">Connect us</button>
                </div>


                <div class="youtube">
                    <div class="fab fa-youtube fa-7x social-icon"></div>
                    <button id="youtube" class="btn btn-decorate">Subscribe</button>
                </div>

            </div>
        </div>
    </section>
</body>-->


<!--<div class="container">
    <div *ngIf="flag">
        <div *ngFor='let blog of blogData ; let i = index;let even = even'>
            <div *ngIf=even>
                {{changeCss()}}
                <span id="blog-view">
                    <div>
                    <div class="item one">
                        <div class="img-contain"><img [src]='getImageUrl(blog)' alt="blog image" class="img-fluid blog-img">
                        </div>
                        <div style="font-size: 2em;text-align: center;">{{blog?.title}}</div>
                        <div class="blog-content">{{blog.labels}}</div>
                        <button type="button" class="btn btn-more" data-toggle="modal"
                            data-target=".bd-example-modal-lg" (click)="showBlog(blog)">Read More</button>
                            <p>{{blog.published}}</p>
                    </div>
                   </div>
                    <div>
                        <div class="item two">
                            <div class="img-contain"><img [src]='getImageUrl(blogData[i+1])' alt="blog image"
                                    class="img-fluid blog-img">
                            </div>
                            <div style="font-size: 2em;text-align: center;">{{blogData[i+1]?.title}}</div>
                            <div class="blog-content">{{blogData[i+1].labels}}</div>
                            <button type="button" class="btn btn-two" data-toggle="modal"
                                data-target=".bd-example-modal-lg" (click)="showBlog(blogData[i+1])">Read More</button>
                            <p>{{blogData[i+1].published}}</p>
                        </div>
                    </div>
                </span>
            </div>           
        </div>
    </div>
</div>-->
<div id="blog-top">
    <img src="../../assets/blog-image.jpg" class="img-fluid">
</div>
<div id="search-img">
<input id="blog-search" type="text" placeholder="search for blog ..">
<span class="fas fa-search search-icon"></span>
</div>
<div class="container-fluid">
    <span id="blog-view">
        <div *ngFor='let blog of blogData ; let i = index;let first = first ; let last=last'>

            <div class="item one">
                <div class="img-contain"><img [src]='getImageUrl(blog)' alt="blog image" class="img-fluid blog-img">
                </div>
                <div class="blog-title">{{blog?.title}}</div>
                <div class="blog-content">
                    <div style="padding-top:3%">
                        <p class="tag">Tags : </p>
                        <div *ngFor='let label of blog.labels;last as islast' class="labels">
                            <span *ngIf="islast;else other">
                                <p> {{label}} </p>
                            </span>
                            <ng-template #other>
                                <p> {{label}} | </p>
                            </ng-template>
                        </div>
                    </div>
                    <div id="btn-read">
                    <button type="button" class="btn btn-more" data-toggle="modal" data-target=".bd-example-modal-lg"
                        (click)="showBlog(blog)">Read More ></button>
                    </div>
                </div>
                <hr id="hr-line">
                <p class="date">{{blog.published | date}}</p>


            </div>
        </div>
    </span>
</div>