<body>
    <div class="contact-us">
        <div class="form-flex">
            <div class="form-side">
                <p class="title">Get in Touch</p>
                <form [formGroup]="contactus" (onSubmit)="onContact">
                    <div class="input-grp">
                    <input type="text" formControl="name" placeholder="Name : ">
                    <input type="email" formControl="email" placeholder="Email :">
                    </div>
                    <div class="input-grp">
                    <input type="number" formControl="phone" placeholder="Phone :">
                    <input type="text" formControl="city" placeholder="City :">
                    </div>
                    <textarea class="message" formControl="message" placeholder="Message :"></textarea>
                    <button type="submit" class="btn sub-btn">Send</button>
                </form>
            </div>
            <div class="map">
                <p>Or You can contact or visit us in our office from Monday To Saturday from 09.30 am to 6.00 pm</p>
                <section id="googleMaps">
                    <div #mapRef class="googlemaps"></div>
                </section>               
            </div>
        </div>
    </div>
</body>