<head>
    <style>
        @media(min-width:900px) {
            .bigScreen {
                width: 50%;
                margin-top: 3%;
            }

            .cardsize {
                width: 55em;
                height: 25em;
                /*margin-left:10% ;*/
                margin-top: 2%;
                margin-bottom: 3%
            }
        }

        @media(max-width:576px) {
            .back {
                background-color: white;
                color: black;
            }

            .btn-deco {
                border-radius: 25px;
                width: 50%;
            }

            .col-des {
                margin: 8% 0%;
            }

            .expertise {
                background-image: unset;
                background-color: black;
            }

            #projects {
                margin-top: 8%;
            }

            #projects .card {
                padding-top: 5%;
            }
            .slick-slider{
                
            }
            
        }
    </style>
</head>

<body>
    <div class="container" class="slider" id="home_banner">
        <div id="carouselSlide" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li class="active" data-target="#carouselSlide" data-slide-to="0"></li>
                <li data-target="#carouselSlide" data-slide-to="1"></li>
                <li data-target="#carouselSlide" data-slide-to="2"></li>
                <li data-target="#carouselSlide" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner justify-content-center">
                <div class="carousel-item active">
                    <div class="=card bg-light text-dark  cardsize shadow col-md-12 mx-auto back">
                        <div class="row">
                            <div class="col-md-4">
                                <div class=card-body>
                                    <h3 class="card-title">Card 1</h3>
                                    <h6 class="card-subtitle">Information of card 1</h6>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br> Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown <br>printer took a gallery
                                </div>
                            </div>

                            <div class="col-md-8 bigScreen">
                                <img class="card-img d-block img-fluid card-img-top" src="./assets/cor1.jpg" alt="img1">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="=card bg-light text-dark  cardsize shadow col-md-12 mx-auto back">
                        <div class="row">
                            <div class="col-md-4">
                                <div class=card-body>
                                    <h3 class="card-title">Card 2</h3>
                                    <h6 class="card-subtitle">Information of card 1</h6>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br> Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown <br>printer took a gallery
                                </div>
                            </div>

                            <div class="col-md-8 bigScreen">
                                <img class="card-image d-block img-fluid card-img-top " src="./assets/cor2.jpg"
                                    alt="img2">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="=card bg-light text-dark cardsize shadow col-md-12 mx-auto back">
                        <div class="row">
                            <div class="col-md-4">
                                <div class=card-body>
                                    <h3 class="card-title">Card 3</h3>
                                    <h6 class="card-subtitle">Information of card 1</h6>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br> Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown <br>printer took a gallery
                                </div>
                            </div>

                            <div class="col-md-8 bigScreen">
                                <img class="card-image d-block img-fluid card-img-top" src="../../assets/cor3.png"
                                    alt="img3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="=card bg-light text-dark cardsize shadow col-md-12 mx-auto back">
                        <div class="row">
                            <div class="col-md-4">
                                <div class=card-body>
                                    <h3 class="card-title">Card 4</h3>
                                    <h6 class="card-subtitle">Information of card 1</h6>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br> Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown <br>printer took a gallery
                                </div>
                            </div>

                            <div class="col-md-8 bigScreen">
                                <img class="d-block img-fluid card-img-top" src="./assets/cor4.jpg" alt="img4">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselSlide" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselSlide" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div id="qualities" class="container-fluid">
        <div class="quality-content">
            <h1>Our Qualities</h1>
            <hr>
            <div class="row">
                <div class="col-md-4 col-design">
                    <h2>Title 1</h2>
                    <h3>Subtitle</h3>
                    <p>
                        Construction projects are fast-paced, and even a single day's delay can mean huge cost overruns.
                        Our Rapid Design Process is flexible and agile. Our MEP engineering design turnaround time is
                        50% faster than anyone else in the industry.
                    </p>
                </div>
                <div class="col-md-4 col-design">
                    <h2>Title 1</h2>
                    <h3>Subtitle</h3>
                    <p>
                        To eliminate the cost and disruption of construction change orders on your project, Nearby
                        Engineers applies strict quality control to produce clear, easily priced and built designs. When
                        working with one of Nearby Engineers certified contractors, we even offer a Zero Change Order
                        Guarantee.
                    </p>
                </div>
                <div class="col-md-4 col-design">
                    <h2>Title 3</h2>
                    <h3>Subtitle</h3>
                    <p>
                        An active feedback loop ensures all opportunities for improvement are captured in our master
                        templates to assure your project goes from engineering design to built in the shortest time and
                        at the lowest cost possible. We have the highest first-time approval on our designs: 80%.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top:5%">
        <div class="expertise">
            <div class="expertise-info container-fluid">
                <h1>Our Company Services</h1>
                <hr>
                <div class="row mx-auto">
                    <div class="col-md-4 col-des">
                        <span class="fas fa-lightbulb fa-5x"></span>
                        <h3>Electrical</h3>
                        <hr>
                        <p>Today's buildings have more electrical components than ever. From low to high voltage
                            building
                            systems, normal and emergency power, we have your solution.</p>
                    </div>
                    <div class="col-md-4 col-des">
                        <span class="fas fa-wrench fa-5x"></span>
                        <h3>Plumbing</h3>
                        <hr>
                        <p>Today's buildings have more electrical components than ever. From low to high voltage
                            building
                            systems, normal and emergency power, we have your solution.</p>
                    </div>
                    <div class="col-md-4 col-des">
                        <span class="fas fa-fire-extinguisher fa-5x"></span>
                        <h3>Fire Protection</h3>
                        <hr>
                        <p>Today's buildings have more electrical components than ever. From low to high voltage
                            building
                            systems, normal and emergency power, we have your solution.</p>
                    </div>
                    <div id="addservice" style="display: none;">
                        <div class="col-md-4 col-des">
                            <span class="fas fa-fire-extinguisher fa-5x"></span>
                            <h3>HVAC</h3>
                            <hr>
                            <p>Today's buildings have more electrical components than ever. From low to high voltage
                                building
                                systems, normal and emergency power, we have your solution.</p>
                        </div>
                    </div>
                </div>
                <button id="btn-services" class="btn btn-deco btn-lg">View More services -></button>

            </div>
        </div>
    </div>
    <div id="projects">
        <h5>PROJECT PORTFOLIO</h5>
        <h2>Our Projects</h2>
        <hr>
        <div class="container mx-auto">
        <div class="row">  
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">  
              <div ngxSlickItem  *ngFor="let image of imagesData" class="slide">  
                <div class="card">
                    <div class="card-image card-img-top">
                        <img src="{{image.img}}" class="img-fluid"
                            alt="Project Images" />
                    </div>
                    <div class="card-title">{{image.title}}</div>
                </div>
              </div>  
            </ngx-slick-carousel>  
          </div>
          </div>
    </div>

</body>