<!DOCTYPE html>
<html>

<head>
    <style>
        @media(min-width:900px) {
            .bigScreen {
                width: 50%;
                margin-top: 3%;
            }

            .cardsize {
                width: 55em;
                height: 25em;
                /*margin-left:10% ;*/
                margin-top: 2%;
                margin-bottom: 3%
            }
        }

        @media(max-width:576px) {
            .back {
                background-color: white;
                color: black;
            }

            .btn-deco {
                border-radius: 25px;
                width: 50%;
            }

            .col-des {
                margin: 8% 0%;
            }

            .expertise {
                background-image: unset;
                background-color: black;
            }

            #projects {
                margin-top: 8%;
            }

            #projects .card {
                padding-top: 5%;
            }

        }
    </style>
</head>

<body>
    <div id="hero" class="container-fluid">
        <div class="hero-content">
            <div class="brand_title">
                <div class="the">The</div>
                <div class="Cooling">Cooling</div>
                <div class="comp">Company</div>
            </div>
            <div class="checkout-btn">
                <button id="check-btn" class="btn btn-lg btn-check"> Check us Out </button>
            </div>
        </div>
    </div>
    <div class="welcome">
        <p class="sub-head">Welcome to The Cooling Company</p>
        <hr>
        <p class="sub-cont">Unique HVAC Solutions is Pune based reputed Heating, Ventilation and Air conditioning (HVAC)
            company
            established in 2011. We provide complete solutions starting from Designing, Consultation, Supply,
            Installation, Testing & Maintenance.</p>
        <div class="wel-cont">
            <div class="flex-item">
                <div class="disp">
                    <div class="logo"><span class="far fa-object-group fa-6x"></span></div>
                    <div class="cont">
                        <p class="title">Designing & Planning</p>
                        <p>We develop optimal, cost-effective, technically sounded as well as aesthetically
                            good
                            designs by understanding the conditions and scope of project.</p>
                    </div>
                </div>
            </div>
            <div class="flex-item">

                <div class="disp">
                    <div class="logo"><span class="fas fa-project-diagram fa-6x"></span></div>
                    <div class="cont">
                        <p class="title">Project Execution</p>
                        <p>Our aim is to complete every project absolutely hassle free in line with the scope
                            of
                            work and timelines. We deploy our in house quality protocols for executing the projects as
                            per
                            standard.</p>
                    </div>
                </div>
            </div>
            <div class="flex-item">

                <div class="disp">
                    <div class="logo"><span class="fas fa-cogs fa-6x"></span></div>
                    <div class="cont">
                        <p class="title">After Sales Service (Contracts )</p>
                        <p>Our involvement does not end with commissioning and handing over the projects to
                            you, We
                            take care of installations after commissioning also. We offer comprehensive maintenance
                            contract.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex-item">

                <div class="disp">
                    <div class="logo"><span class="fab fa-dropbox fa-6x"></span></div>
                    <div class="cont">
                        <p class="title">Material Supply</p>
                        <p>We supply all the materials as well as spares for all type of HVAC systems. All
                            equipment supplied by us carries a 1 year warranty and we will be happy to send our
                            technicians
                            to
                            to your works to carry out any break down service.</p>
                    </div>
                </div>
            </div>
        </div>
        <a href="../../assets/Brouchure- Website.pdf" download><button class="btn down-bro">Download Brochure</button></a>
    </div>
    <div id="qualities" class="container-fluid">
        <h2 id="qual-section" class="qual">Our Qualities</h2>
        <div class="quality-content">
            <hr>
            <div class="qual-view">
                <div class="flex-item">
                    <div class="flex-title">HVAC</div>
                    <div class="quality-cont">
                        Air Conditioning for Residential and Commercial Purposes.
                        Split, VRF, Ductables and Chiller based Systems.
                        All designs and commisioning standards are adopted from renowned assosiations
                        like ISHRAE, ASHRAE, GRIHA, IGBC and USGBC. Our Quick Turn round Solutions will
                        facilitate
                        your project timeline.
                    </div>
                </div>
                <div class="flex-item">
                    <div class="flex-title">Heating and Ventilation</div>
                    <div class="quality-cont">
                        Heating And Ventilation for Semi-Commercial and Commercial Use.
                        Utmost care is take in delivering as per customers requirements.
                        For Kitchen, Warehouses, Multiplex and similar.
                    </div>
                </div>
                <div class="flex-item">
                    <div class="flex-title">Rerfigeration</div>
                    <div class="quality-cont">
                        Our Mastery over the Technical aspects of Refrigeration, we can provide, support and
                        execute in
                        Cold Storages, Pharmacy, Food Industry as per clients requirements and needs.
                    </div>
                </div>

            </div>
        </div>
    </div>

   <!-- <section id="industries">
        <p class="heading" >Industries we serve</p>
        <hr>
        <div class="industrial-view">
            <div class="flex-item">
                <img class="ind-img" src="../../assets/healthcare.jpg">
            </div>
            <div class="flex-item">
                <img class="ind-img" src="../../assets/Transport.jpg">
            </div>
            <div class="flex-item">
                <img class="ind-img" src="../../assets/residential.jpg">
            </div>
            <div class="flex-item">
                <img class="ind-img" src="../../assets/commercial.jpg">
            </div>
            <div class="flex-item">
                <img class="ind-img" src="../../assets/data-center.jpg">
            </div>
            <div class="flex-item">
                <img class="ind-img" src="../../assets/industrial.jpg">
            </div>
        </div>
    </section>-->
    <div id="serv-div" class="heading">
        <p class="our">Industries we serve</p>
        <hr>
    </div>
    <div class="services-div">
        <div class="bg-color">
            <ngx-slick-carousel class=" carousel flex-services" #slickModal="slick-carousel" [config]="slideConfig">
                <div ngxSlickItem class="slide item">
                    <img class="ind-img" src="../../assets/healthcare.jpg">
                    <p class="ind-head">Health Care</p>
                </div>
                <div ngxSlickItem class="slide item">
                    <img class="ind-img" src="../../assets/Transport.jpg">
                    <p class="ind-head">Transport</p>
                </div>
                <div ngxSlickItem class="slide item">
                    <img class="ind-img" src="../../assets/residential.jpg">
                    <p class="ind-head">Residential</p>
                </div>
                <div ngxSlickItem class="slide item">
                     <img class="ind-img" src="../../assets/commercial.jpg" height="208px">
                     <p class="ind-head">Commercial</p>
                </div>
                <div ngxSlickItem class="slide item">
                    <img class="ind-img" src="../../assets/data-center.jpg" height="208px">
                    <p class="ind-head">IT/ITES</p>
                </div>
                <div ngxSlickItem class="slide item">
                   <img class="ind-img" src="../../assets/industrial.jpg">
                   <p class="ind-head">Industrial</p>
                </div>
            </ngx-slick-carousel>
        </div>
    </div>
    <!--<div id="projects">
        <div class="portfolio" data-scroll>PROJECT PORTFOLIO</div>
        <div class="pro" data-scroll>Our Projects</div>
        <hr>
        <div class="container mx-auto">
            <div class="row" style="margin-top:5%;margin-bottom:5%;" data-scroll>
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                    <div ngxSlickItem *ngFor="let image of imagesData" class="slide">
                        <div class="card">
                            <div class="card-image card-img-top">
                                <img src="{{image.img}}" class="img-fluid img-center" alt="Project Images" />
                            </div>
                            <div class="card-title">{{image.title}}</div>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>-->

</body>

</html>